<html lang="es">
 
<head>
 
    <title></title>
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet"> 
    <link href="/styles/justified-nav.css" rel="stylesheet">
 
 
</head>
 
<body ng-controller="AddAvisoCtrl">
 
    <div class="container">
 
        <form class="form-horizontal" ng-submit="AniadirAviso()">
            <fieldset>
 
                <!-- Form Name -->
                <legend>Crear Aviso</legend>
 
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="titulo">Título</label>
                    <div class="col-md-4">
                        <input id="titulo" name="titulo" type="text" ng-model="aviso.titulo" placeholder="Título" class="form-control input-md">
 
                    </div>
                </div>
 
                <!-- Textarea -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="contenido">Contenido</label>
                    <div class="col-md-4">
                        <textarea class="form-control" id="contenido" ng-model="aviso.contenido" name="contenido" rows="7"></textarea>
                    </div>
                </div>
 
                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="singlebutton"></label>
                    <div class="col-md-4">
                        <input id="singlebutton" ng-disabled="!aviso.titulo || !aviso.contenido" name="singlebutton" class="btn btn-primary" type="submit" value="Publicar" />
                    </div>
                </div>
 
            </fieldset>
        </form>
 
 
    </div>
    <!-- /.container -->
 
 
</body>
 
</html>