<!DOCTYPE html>
<html lang="es"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="favicon.ico">

    <title>Modificar Contraseña</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet"> 
    <link href="/styles/justified-nav.css" rel="stylesheet">
    
  </head>

  <body ng-controller="Login">

    <div class="container">
      <div class="jumbotron" style="padding-bottom:0px;">
        <h2>Modificar Contraseña</h2>
      </div>
	<form class="form-horizontal" name="cambiarContraseniaForm" role="form">

    <div class="form-group" ng-class="{ 'has-error' : cambiarContraseniaForm.password.$invalid }">
        <label>Contraseña</label>
        <input type="password" name="password" class="form-control" ng-model="usuario.password" ng-minlength="6">
        <p class="help-block" ng-show="cambiarContraseniaForm.password.$error.minlength">La longitud mínima de la contraseña es 6 caracteres</p>
    </div>
	<div class="form-group" ng-class="{ 'has-error' : cambiarContraseniaForm.nuevaPassword.$invalid }">
        <label>Nueva Contraseña</label>
        <input type="password" name="nuevaPassword" class="form-control" ng-model="usuario.nuevaPassword" ng-minlength="6">
        <p class="help-block" ng-show="cambiarContraseniaForm.nuevaPassword.$error.minlength">La longitud mínima de la contraseña es 6 caracteres</p>
    </div>
	<div class="form-group" ng-class="{ 'has-error' : cambiarContraseniaForm.nuevaPassword2.$invalid }">
        <label>Repita Nueva Contraseña</label>
        <input type="password" name="nuevaPassword2" class="form-control" ng-model="usuario.nuevaPassword2" ng-minlength="6">
        <p class="help-block" ng-show="cambiarContraseniaForm.nuevaPassword2.$error.minlength">La longitud mínima de la contraseña es 6 caracteres</p>
    </div>

    <button ng-disabled=" !usuario.password || !usuario.nuevaPassword || !usuario.nuevaPassword2" type="button" ng-click="cambiarContrasenia()" class="btn btn-lg btn-primary btn-block">Aceptar</button>
	</form>
    </div>
</body></html>


